
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#solutionCard {
    margin-top: 20px;
}
.text-flex{
display: flex;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #555;
}

.search-btn{
    border-radius: 50%;
    background-color: #55555534;
}
.fa-search{
    color: #000;
}

#expressionInput{
    border-radius: 10px;
    background-color: #55555534;
}
#categorySelect{
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}